<div class="page-header component-holder col-md-12" data-component="crn-header" id="crn-header-234900" ng-init="cronapi.util.makeCallServerBlocklyAsync('blockly.Dashboard:Dashboard', null, null)">
  <h1 class="component-holder text-center" xattr-position="text-center" data-component="crn-title" id="crn-title7140" ng-destroy="cronapi.util.makeCallServerBlocklyAsync('blockly.Dashboard:Dashboard', null, null)">Dashboard</h1>
</div>
<div class="component-holder ng-binding ng-scope col-md-3" data-component="crn-panel" id="crn-panel-781337">
  <div class="panel panel-primary" xattr-theme="panel-primary" data-container="true">
    <div class="panel-heading" data-container="true">
      <div class="panel-title">
        <div class="lead component-holder text-left" data-component="crn-title" xattr-position="text-left">
          Quantidade de Itens Vendidos
        </div>
      </div>
    </div>
    <div class="panel-body" data-container="true">
      <div data-component="crn-chart" class="component-holder" id="crn-chart-266354"> 
        <canvas id="dashboard1" data-component="crn-chart" class="col-xs-12"></canvas>
      </div>
    </div>
  </div>
</div>
<div class="component-holder ng-binding ng-scope  col-md-3" data-component="crn-panel" id="crn-panel-561700">
  <div class="panel panel-primary" xattr-theme="panel-primary" data-container="true">
    <div class="panel-heading" data-container="true">
      <div class="panel-title">
        <div class="lead component-holder text-left" data-component="crn-title" xattr-position="text-left" ng-click="cronapi.util.makeCallServerBlocklyAsync('blockly.Dashboard2:Dashboard2', null, null)">
          Venda por pedido de cliente
        </div>
      </div>
    </div>
    <div class="panel-body" data-container="true">
      <div data-component="crn-chart" class="component-holder" id="crn-chart-647623"> 
        <canvas id="dashboard2" data-component="crn-chart" class="col-xs-12"></canvas>
      </div>
    </div>
  </div>
</div>
<div class="component-holder ng-binding ng-scope  col-md-3" data-component="crn-panel" id="crn-panel-591434">
  <div class="panel panel-primary" xattr-theme="panel-primary" data-container="true">
    <div class="panel-heading" data-container="true">
      <div class="panel-title">
        <div class="lead text-center component-holder" data-component="crn-title" xattr-position="text-center" ng-click="cronapi.util.makeCallServerBlocklyAsync('blockly.Dashboard3:Dashboard3', null, null)">
          Venda com lucro bruto
        </div>
      </div>
    </div>
    <div class="panel-body" data-container="true">
      <div data-component="crn-chart" class="component-holder" id="crn-chart-324478"> 
        <canvas id="dashboard3" data-component="crn-chart" class="col-xs-12"></canvas>
      </div>
    </div>
  </div>
</div>
<div class="component-holder ng-binding ng-scope  col-md-3" data-component="crn-panel" id="crn-panel-422450">
  <div class="panel panel-primary" xattr-theme="panel-primary" data-container="true">
    <div class="panel-heading" data-container="true">
      <div class="panel-title">
        <div class="lead text-center component-holder" data-component="crn-title" xattr-position="text-center" ng-click="cronapi.util.makeCallServerBlocklyAsync('blockly.Dashboard4:Dashboard4', null, null)">
          Vendas por lucro liquido
        </div>
      </div>
    </div>
    <div class="panel-body" data-container="true">
      <div data-component="crn-chart" class="component-holder" id="crn-chart-500462"> 
        <canvas id="dashboard4" data-component="crn-chart" class="col-xs-12"></canvas>
      </div>
    </div>
  </div>
</div>
<div class="component-holder ng-binding ng-scope col-md-12" data-component="crn-button" id="crn-button-46352">
  <button class="btn btn-default" type="submit" ng-click="blockly.js.blockly.TestePaginas.listas()" xattr-size="" xattr-fullsize="" xattr-theme="btn-default" data-component="crn-button"> <span>Teste</span></button>
</div>